body
{
	padding: 0;
	margin: 0;
	font-family: Courier; 
}

.center-align
{

}

.section-columns
{

}

.color-black
{
	color: black;
}

.color-white
{
	color: white;
}

.section-columns > div
{
	display: inline-block;
	vertical-align: top;
	width: 49%;
	text-align: center;
}

.section-columns2 > div
{
	display: inline-block;
	vertical-align: top;
	width: 49%;
	text-align: center;
}

.section-columns h3
{
	font-size: 26px;
	line-height: 40px;
}

.section-columns p
{
	font-size: 20px;
	line-height: 30px;
	padding-bottom: 10px;
}

p a
{
	color: firebrick;
	text-decoration: none;
}

p a:hover
{
	color: darkblue;
	text-decoration: underline;
}

.section-columns #bio
{
	height: 600px;
}

#work, #work2, #work3, #work4
{
	margin-top: -67px;
	padding-top: 150px;
	background-image: url('../img/dibujos.jpg');
	background-repeat: no-repeat;
	background-size: 650px;
	background-position: 900px 120px;
	height: 600px; 
}

#work2
{
	background-image: url('../img/juegos.jpg');
}

#work3
{
	background-image: url('../img/animes.jpg');
}

.section-columns h2
{
	font-size: 50px;
}

span
{
	position: relative;
}

span::after
{
	background-color: palegreen;
	content: '';
	width: 100%;
	height: 30%;
	position: absolute;
	bottom: -2px;
	left: 0;
	z-index: -1;
}

.centro
{
	font-size: 100px;
}

#intro-container .centro
{
	font-family: Courier New;
	font-size: 100px;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.final
{
	position: relative;
	display: inline-block;
	text-align: center;
}

.centro2
{
	font-size: 80px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-section
{
	
	font-size: 28px;
	position: absolute;
	top: 98%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn
{
	padding: 20px 40px;
	border: solid 1px;
	text-decoration: none;
}

.btn-black
{
	border-color: black;
	color: black;
}

.btn-black:hover
{
	background-color: black;
	border-color: black;
	color: white;
}

.btn-white
{
	border-color: white;
	color: white;
}

.btn-white:hover
{
	background-color: white;
	border-color: white;
	color: black;
}

.btn-section2
{
	position: absolute;
	top: 185%;
	left: 74%;
	transform: translate(-50%, -50%);
}

.btn-section3
{
	position: absolute;
	top: 250%;
	left: 24%;
	transform: translate(-50%, -50%);
}

.btn-section4
{
	position: absolute;
	top: 325%;
	left: 24%;
	transform: translate(-50%, -50%);
}

.btn-section5
{
	position: absolute;
	top: 405%;
	left: 24%;
	transform: translate(-50%, -50%);
}

.rectangle
{
	height: 137px;
	margin-top: -70px;
}

.rectangle2
{
	height: 137px;
	margin-top: : -70px;
}

.bg-white
{
	background-color: white;
}

.bg-gray
{
	background-color: gray;
}

.skew-left
{
	transform: skewY(-4deg);
}

.skew-right
{
	transform: skewY(4deg);
}


#intro-container
{
	margin: 0;
	background-color: black; 
	padding-top: 100px;
}

#intro-container menu div
{
	padding: 0;
	margin: 0;
}

#intro-container menu div
{
	width: 9%;
	display: inline-block;
	vertical-align: top;
}

#intro-container menu #menu-lista
{
	width: 89%;
	text-align: right;
}

#intro-container menu #menu-lista ul
{
	margin: 0;
	padding: 0;
}

#intro-container menu #menu-lista ul li
{
	display: inline-block;
	padding: 0;
	margin: 0 5px;
	list-style: none;
}

#intro-container menu #menu-lista ul li a
{
	color: #888;
	text-decoration: none;
}

#intro-container menu #menu-lista ul li a:hover
{
	color: white;
	text-decoration: blink;
}